<div class="container" ng-controller="homeCtrl as ctrl">
	<div class="row">
    <div class="col-md-6">
    	<div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">Ask</div>
            </div>
            <div style="padding-top:30px" class="panel-body" >
            <form id="questionform" class="form-horizontal" role="form">
				<div class="form-group">
				    <div class="col-sm-10">
				      <input id="question" type="text" class="form-control" placeholder="question">
				    </div>
				    <div class="col-sm-2">
				    <select class="form-control" id="range" name="range">
                            <option value="2">2 miles</option>
                            <option value="4">4 miles</option>
                            <option value="8">8 miles</option>
                     </select>
                     </div>
				  </div>
				<button type="submit" ng-click="questionsub()" class="btn btn-primary">Submit</button>
			</form>
    		</div>
        </div>
    
    </div>
    <div class="col-md-6">
    	<div class="list-group">
    	<div class="list-group-item list-group-item-action list-group-item-danger" ng-repeat="ansobjects in ansobject">{{ansobjects.question}}
    	<div class="list-group-item list-group-item-action list-group-item-success">{{ansobjects.answer}}</div>
    	</div>
    	</div>
    </div>
    </div>
    <br/>
    <div class="col-md-6">
    	<div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">Answer</div>
            </div>
            <div style="padding-top:30px" class="panel-body" >
            <form id="answerform" name="answerform" class="form-horizontal" role="form">
		    	<!-- <select class="form-control" >
				  <option id="question" ng-model="question" ng-repeat="objects in object">{{objects.question}}</option>
				</select> -->
			<select class="form-control" ng-model="questionobject" 
 		       ng-options="objects.question for objects in object">           
			</select>
				<br>
				<textarea id="answer" class="form-control" rows="3"></textarea><br>
				<button type="submit" ng-click="answersub(questionobject)" class="btn btn-primary">Submit</button>
			</form>
    		</div>
        </div>
    </div>
</div>
